:root {
  --justify-content: center;
  --color-red: #f56c6c;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.title {
  cursor: pointer;
  margin-bottom: 80px;
  padding: 10px 20px;
  position: relative;
  font-size: 36px;
  text-decoration: inherit;
  transition: all 0.3s;
  &::after {
    transition: all 0.3s;
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: -1;
    bottom: -20px;
    right: -20px;
    filter: blur(40px);
    border-radius: 30%;
    transform:  rotate(10deg);
    background: linear-gradient( -45deg, #bd34fe 50%, #47caff 50% );
  }
  &:hover {
    &::after {
      transform: scale(1.08);
    }
    transform: scale(1.08);
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  // button {
  //   /* background-color: #; */
  //   background-color: #409eff;
  // }
}
